h3 {
	color: green;
}
body {
	margin: 0;
	background-color: #f4f4f4;
	color: #55555;

	line-height: 1.6em;
}
.box-1 {
	background-color: #333333;
	color: #ffffff;

	border: 5px red solid;
	border-top-style: dotted;

	padding: 20px;
	margin: 20px 0px;
}
.container {
	width: 60%;
	margin: auto;
}

.box-1 h3 {
	font-family: sans-serif;
	font-weight: 700;
	font-style: italic;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	word-spacing: 0.5em;
}

.categories {
	border:	5px red solid;

}
.categories ul {
	padding: 20px;
}
.categories li {
	list-style-type: none;
	padding: 0;
}

a.visited {
	color: red;
}

.my-form {
	padding: 20px;
}

.my-form .form-data{
	padding-bottom: 10px;
}
.my-form label {
	display: block;
}

.my-form input[type="text"]{
	padding: 8px;
	width: 100%;
}

.my-form input[type="submit"] {
	background-color: black;
	color: white;
	padding: 10px 10px;
	border-style: none;:

}

.block-test {
	float: left;
	width: 33%;
	border: 1px solid black;
	padding: 10px;
	box-sizing: border-box;
}

/*clear all float */
.clr{
	clear: both;
}

/**/

.siding {
	border: solid red;
	padding: 10px 15px;
	width: 100%;
	box-sizing: border-box;
}

#main-block {
	float: left;
	width: 70%;

}

#sidebar {
	float: right;
	width: 30%;
	box-sizing: border-box;
	background-color: black;
	color: white;
	padding: 10px;
}

.my-list {

}

.my-list li:nth-child(even) {
	box-sizing: border-box;
	background-color: yellow;
}